body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.bold {
  font-weight: 700;
}

/***** NAV *****/
nav {
  width: 100%;
  display: block;
  background-color: #dedede;
}
.nav-item {
  display: inline-block;
  padding: 16px 32px;
  background-color: #454545;
  color: white;
  font-weight: 700;
  margin: 0 -1px;
}

/***** MAIN CONTENT *****/
.main-content {
  display: block;
  overflow: auto;
  width: 100%;
}

/*** LEFT CONTENT ***/
.left-content {
  float: left;
  width: 29%;
  border-right: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  padding: 8px 0;
  display: inline-block;
  height: 700px;
}

.petname {
  font-weight: 300;
  text-align: center;
  margin-top: 0;
}

.logo-section {
  width: 100%;
  position: relative;
  border-bottom: 2px solid darkgray;
}

.pet-photo {
  max-width: calc(100% - 40px);
  padding: 20px;
}

.stats-list > li {
  padding: 10px 0;
  list-style-type: none;
}

/** RIGHT CONTENT ***/
.right-content {
  width: 70%;
  float: left;
  border-right: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  padding: 8px 0;
  display: inline-block;
  height: 700px;
  white-space: normal;
}

.right-header {
  padding: 10px 30px;
}

.header-photo {
  max-width: 400px;
  float: left;
  padding: 20px; 
}